# Ignore files
dist/*
dumps/*
*.sql
~*
.~*
*.bak
eggs/
pyramid.pid
scores.zip.gz
zzzz/
.idea
.zedstate
*.pyc
*.pyo
*.db
*.log
*.swp
*.swo
*.bak
*~
*.orig
*.eggs
./*.ini
local.ini
server.ini
robot.ini
email.ini
pip-selfcheck.json
resultreporter.sql
src/resultreporter_site/scripts/*.json
src/resultreporter_site/scripts/scores.zip
src/resultreporter_site/resultreporter_site/assets/
src/*/scripts/tables
src/kotti_pdf/
_*.json
local-*.ini
*.csv
*.zip
src/resultreporter_site/scripts/data/*/
src/resultreporter_site/scripts/data/*.json
*.json

# Ignore Folders
src/*/*/static/ext
include/
bin/
lib/
local/
share/
*.eggs/
*.egg-info/
src/*/tests/*.log
src/*/tests/*.html
src/*/tests/*.xml
src/*/tests/selenium*
.DS_Store
staging.ini
testing.ini
production.ini

.zedstate
.installed.cfg
docs/bin/
docs/parts/
docs/_build/
bin/
parts/
_build/

!src/*/bower.json
